@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #45C4B0,#13678A);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #012030 ;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #a3fcae;
  text-align: center;
  text-shadow: 2px 2px 2px #000102;
}

h2 {
  color: #6b7c5b;
}

p {
  text-align: justify;
}
